# pin locations
XcClk_i        LOC = PIN43; 
AvrData_io<0>  LOC = PIN6;
AvrData_io<1>  LOC = PIN5;
AvrData_io<2>  LOC = PIN3;
AvrData_io<3>  LOC = PIN34;
AvrData_io<4>  LOC = PIN33;
AvrData_io<5>  LOC = PIN32;
AvrData_io<6>  LOC = PIN31;
AvrData_io<7>  LOC = PIN30;
AvrData_io<8>  LOC = PIN29;
AvrData_io<9>  LOC = PIN28;
AvrData_io<10> LOC = PIN27;
AvrData_io<11> LOC = PIN23;
AvrData_io<12> LOC = PIN12;
AvrData_io<13> LOC = PIN8;
AvrData_io<14> LOC = PIN7;
AvrSck_i       LOC = PIN44;
AvrMosi_i      LOC = PIN2;
AvrMiso_o      LOC = PIN1;
SpfRst_n_o     LOC = PIN21;
SpfCs_n_o      LOC = PIN22;
SpfSck_o       LOC = PIN20;
SpfMosi_o      LOC = PIN13;
SpfMiso_i      LOC = PIN14;
Gpio_io<0>     LOC = PIN42;
Gpio_io<1>     LOC = PIN41;
Gpio_io<2>     LOC = PIN40;
Gpio_io<3>     LOC = PIN39;
Gpio_io<4>     LOC = PIN38;

# clock timing
NET "XcClk_i" TNM_NET = XcClk_i;
TIMESPEC TS_Clk_i = PERIOD "XcClk_i" 40 ns HIGH 50%;
