# pin locations
NET XcClk_i        LOC = PIN43; 
NET AvrData_io<0>  LOC = PIN6;
NET AvrData_io<1>  LOC = PIN5;
NET AvrData_io<2>  LOC = PIN3;
NET AvrData_io<3>  LOC = PIN34;
NET AvrData_io<4>  LOC = PIN33;
NET AvrData_io<5>  LOC = PIN32;
NET AvrData_io<6>  LOC = PIN31;
NET AvrData_io<7>  LOC = PIN30;
NET AvrData_io<8>  LOC = PIN29;
NET AvrData_io<9>  LOC = PIN28;
NET AvrData_io<10> LOC = PIN27;
NET AvrData_io<11> LOC = PIN23;
NET AvrData_io<12> LOC = PIN12;
NET AvrData_io<13> LOC = PIN8;
NET AvrData_io<14> LOC = PIN7;
NET AvrSck_i       LOC = PIN44;
NET AvrMosi_i      LOC = PIN2;
NET AvrMiso_o      LOC = PIN1;
NET SpfRst_n_o     LOC = PIN21;
NET SpfCs_n_o      LOC = PIN22;
NET SpfSck_o       LOC = PIN20;
NET SpfMosi_o      LOC = PIN13;
NET SpfMiso_i      LOC = PIN14;
NET Gpio_io<0>     LOC = PIN42;
NET Gpio_io<1>     LOC = PIN41;
NET Gpio_io<2>     LOC = PIN40;
NET Gpio_io<3>     LOC = PIN39;
NET Gpio_io<4>     LOC = PIN38;

# clock timing
NET "XcClk_i" TNM_NET = XcClk_i;
TIMESPEC TS_Clk_i = PERIOD "XcClk_i" 40 ns HIGH 50%;
